.P-login
    position relative
    background: url('login_bg.jpg') no-repeat
    background-size:100% 228px
    .carrot
        position: absolute
        top: 120px
        left: 50%
        margin-left: -60px
        z-index: 10
        display: block
        width: 120px
        height: 120px
    .login-con
        padding:290px 0 20px
        .ipt-con
            margin 0 auto 20px
            width: 80%
            input
                text-align: center
        button 
            display:block
            margin: 10px auto           
            width :80%
